<?xml version="1.0"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="c:\temp\internal-nlog.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target xsi:type="File" name="targetError" fileName="${basedir}\Logs\Errors\Log_${shortdate}_ERROR_API.log"
              layout="${date}|${uppercase:${level}}|${activityid}|${message}" />

    <target xsi:type="File" name="targetTraceToError" fileName="${basedir}\Logs\Traces\Log_${shortdate}_Trace_API.log"
               layout="${date}|${uppercase:${level}}|${activityid}|${message}" />

    <target xsi:type="File" name="targetInfo" fileName="${basedir}\Logs\Infos\Log_${shortdate}_Info_API.log"
                 layout="${date}|${uppercase:${level}}|${activityid}|${message}" />
   
  </targets>
  <rules>
    <logger name="*" levels="Trace" final="true" writeTo="targetTraceToError"/>
    <logger name="Microsoft.*" levels="Warn" final="true" />
    <logger name="*" levels="Error" final="true" writeTo="targetError" />
    <logger name="*" levels="Info" final="true" writeTo="targetInfo" />
  </rules>
</nlog>